*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mc : #5095e4;
    --wc : #ffffff;

}
body{
    background-color: var(--mc);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    font-size: 20px;
    width: 17em;height: 18em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}